extends /layout

block declarations
	- additional_title = 'Hello World';

block additional_css
	link(rel='stylesheet', href='/hello-world/css/style.css')
		
block additional_scripts
		script.
			$(document).ready(function(){
				$('body').mcjs();
			});

block body
	#backdrop
		img.backdropimg(src="/hello-world/css/img/bg.png")
	#wrapper
		p That was easy wasn't it. Now create something awesome!