doctype 5
html(lang="en")
	head		
		title Movies
		
		// Core inclusion
		link(rel='stylesheet', href='/core/css/style.css')
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/jquery.mcjs.core.js")
		
		
		// App specific
		link(rel='stylesheet', href='/movies/css/style.css')
		script(src="/movies/js/jquery.carouFredSel-6.1.0-packed.js")
		script(src="/movies/js/jquery.mcjs.movies.js")
		script(src="/movies/js/flowplayer/flowplayer.min.js")

		script
			$(document).ready(function(){
				$('body').mcjs();
				$('body').mcjsm();
				flowplayer("player", "/movies/js/flowplayer/flowplayer.swf");
			});

	body
		#backdrop
			img.backdropimg(src="/core/css/img/homepage.jpg")	
		#wrapper
			a.backlink(href="/") 
				img(src="/core/icons/back.png")
			h1 Movies
			#moviebrowser
				if status !== null
					p.gui= status
				else
					.posterview
						ul.movieposters
							each movie in movies
								li.movieposter 
									a.play#player(href= movie)
										img(src="/movies/img/loading.gif").movieposter							
									span.original_name	Loading...
									span.title= movie		
			a#prev
			a#next	