doctype 5
html(lang="en")
	head		
		title #{lingua.movies}	
		
		// Core inclusion
		link(rel='stylesheet', href='/core/css/style.css')
		link(rel='stylesheet', href='/core/css/jquery-ui-1.10.3.custom.min.css')
		link(rel='stylesheet', href='/themes/'+selectedTheme)
		
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/plugins/knockout-2.3.0.js")
		script(src="/core/js/jquery-ui-1.10.3.min.js")
		
		script(src="/core/js/plugins/jquery.idle-timer.js")
		script(src="/core/js/plugins/jquery.i18n.properties.-1.0.9.js")
		script(src="/core/js/jquery.mcjs.core.js")
		
		// App specific
		link(href="http://vjs.zencdn.net/4.0/video-js.css", rel="stylesheet")
		script(src="http://vjs.zencdn.net/4.0/video.js")
		style.
			.vjs-play-progress, .vjs-volume-level { background-color: #d96800!important; }
			.vjs-control-bar, .vjs-big-play-button { background: rgba(171,171,171,0.7)!important; }
			.vjs-slider { background: rgba(171,171,171,0.2333333333333333)!important; }
		
		link(rel='stylesheet', href='/movies/css/style.css')
		script(src="/movies/js/jquery.mcjs.movies.js")

		script.
			$(function(){
				$('body').mcjs();
				$('body').mcjsm();	
			});
	body

		#header
			a.backlink(href="/") 
				img(src="/core/icons/back.png")
			h1 #{lingua.movies}		
		#backdrop
			img.backdropimg(src="/movies/css/img/backdrop.png")	

		#wrapper
			#moviebrowser
				ul.movies(data-bind="foreach:  $data")
					li.movieposter.boxed
						.imageWrapper
							img.movieposter(src="/core/css/img/ajax-loader.gif")
						.overlay(data-bind="attr:{title: $data}")			
						span.title(data-bind="text:$data")	
						.overview
						.specs