.col-xs-6.col-sm-4.col-md-2.movieposter-container(mcjs-library-item)
    .thumbnail.movieposter.boxed.mcjs-rc-clickable(ng-hide="movie.title === ''")
        i.circular.inverted.edit.icon(ng-click="open(movie)")
        .fixed-ratio-cover.fixed-ratio
            img.movieposter(ng-src="{{movie.posterURL || '/movies/css/img/nodata.jpg'}}", onerror="this.src='/movies/css/img/nodata.jpg'",ng-click="movie.play()")
        .caption(ng-click="movie.play()")
                img.backdrop(ng-src="{{movie.backgroundURL || '/movies/css/img/nodata.jpg'}}", onerror="this.src='/movies/css/img/nodata.jpg'", ng-click="movie.play()")
                p
                    h1.movie-title{{movie.title}}
                    .overview
                        .summary {{movie.overview}}
        .specs
            p
                strong {{movie.genre}}
            p(ng-show="movie.runtime != 'Unknown'")
                strong #{lingua.movies_Runtime}: {{movie.runtime}} min
        .cdNumber(ng-show="movie.cdNumber.length > 0")
            span {{movie.cdNumber}}
