extends /layout

block declarations
    - additional_title      = lingua.movies;
    - body_class            = 'appMovies';
    - use_angular           = true;
    - angular_app           = "movieApp";
    - angular_body_ctrl     = "movieCtrl";
    - angular_body_class    = "{playing:playing}";

block additional_css
    link(href="http://vjs.zencdn.net/4.3/video-js.css", rel="stylesheet")
    link(rel='stylesheet', href='/movies/css/style.css')

block additional_scripts
    script(src="/core/js/plugins/angular/angular-ui/ui-bootstrap-tpls-0.11.0.js")
    script(src="/core/js/plugins/video.js")
    script(src="/movies/js/app.js")
    script(src="/core/js/video.js")
    script(src="/movies/js/remote.js")

block body
    #backdrop
        img#backdropimg.fullscreen(src="/movies/css/img/backdrop.png")
    header
        .container
            .row
                .col-md-12
                a.backlink(href="/") &#xe113;
                h1.hidden-xs #{lingua.movies}
                input#search.pull-right(ng-model="query", type="text", placeholder="Search", ng-show="movies")
    .container-fluid
        .row
            .col-xs-12.col-sm-6.col-md-2.col-lg-2(ng-repeat="movie in movies | filter:query", ng-cloak)
                .thumbnail.movieposter.boxed.mcjs-rc-clickable(ng-focus="chnageSelected(movie)", ng-class="{current: focused == $index }", ng-mouseover="changeSelected(movie)",ng-hide="movie.title === ''", ng-mouseleave="resetSelected()")
                    i.circular.inverted.edit.icon(ng-click="open(movie)")
                    img.movieposter(ng-src="{{movie.poster_path}}", onerror="this.src='/movies/css/img/nodata.jpg'",ng-click="playMovie(movie.original_name)")
                    .caption
                            p
                                h1.movie-title{{movie.title}}
                                .overview
                                    .summary {{movie.overview}}
                                .specs
                                    p
                                        strong {{movie.genre}}
                                    p
                                        strong #{lingua.movies_Runtime}: {{movie.runtime}} min
                    .cdNumber(ng-show="movie.cdNumber.length > 0")
                        span {{movie.cdNumber}}

        h2.loading(ng-show="!movies") #{lingua.loading}
            .progress-pie-chart(data-percent="{{serverMessage}}", ng-class="{gt50: serverMessage > 50}", ng-show="serverMessage > 0")
                .ppc-progress
                    .ppc-progress-fill(style="-webkit-transform:rotate({{360*serverMessage/100}}deg); transform:rotate({{360*serverMessage/100}}deg);")
                .ppc-percents
                    .pcc-percents-wrapper
                        span {{serverMessage}}%
            {{serverStatus}}

    video#player.video-js.vjs-default-skin(width="100%", height="100%", ng-show="playing", controls, preload="metadata")

    script(type="text/ng-template", id="editModal.html")
        .modal-header
            h1 Edit movie
        .modal-body
            .form-horizontal
                .row
                    .form-group
                        img.col-md-offset-1(ng-src="{{edit.poster_path}}")
                    .form-group
                        label.col-md-3.col-md-offset-1 Poster url path
                        input.col-md-7(type="text",name="poster_path",ng-model="edit.poster_path",required,ng-value="current.poster_path")
                    .form-group
                        label.col-md-3.col-md-offset-1 Backdrop url path
                        input.col-md-7(type="text",name="backdrop_path",ng-model="edit.backdrop_path",required,ng-value="current.backdrop_path")
                    .form-group
                        label.col-md-3.col-md-offset-1 Title
                        input.col-md-7(type="text",name="title",ng-model="edit.title",required,ng-value="current.title")
        .modal-footer
            input.btn(type="submit",value="submit", ng-click="editItem()",required)
            button.btn(ng-click="cancel()") Cancel
