doctype 5
html(lang="en")
	head
		// Core inclusion
		link(rel='stylesheet', href='/core/css/style.css')
		// Page style inclusion
		link(rel='stylesheet', href='/youtube/css/style.css')
		// Card UI inclusion
		link(rel='stylesheet', href='/youtube/css/cards.css')
		link(rel='stylesheet', href='/youtube/css/animate-custom.css')
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/jquery.mcjs.core.js")
		// OAuth.io
		script(src='/core/js/oauth.min.js')
		script(src='/core/js/plugins/iso8601.min.js')
		script(src="/youtube/js/main.js")
		title Youtube
		
	body
		#backdrop
			img.backdropimg(src="")
		#wrapper
			a.backlink(href="/") 
				img(src="/core/icons/back.png")
			if locals.error
				h1#error #{locals.error}
					span
			else 
				h1 What to Watch
				label(for="search")
				// TODO if you search, you cannot go back to original data nor old searches till you refresh/search again.
				// To fix, we need to implement states using pushState or some MVC
				input#search(type="text", placeholder="Search..", autocomplete="off", autofocus)
				main
					block videos
