doctype 5
html(lang="en")
	head
		// Core inclusion
		link(rel='stylesheet', href='/core/css/style.css')
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/jquery.mcjs.core.js")

		title Grooveshark
		script.
			$(function(){
				$('body').mcjs();
			});
	body
		#backdrop
			img.backdropimg(src="")
		#wrapper
			a.backlink(href="/") 
				img(src="/core/icons/back.png")
			h1 This is a placeholder for the Youtube app.