extends /layout

block declarations
	- additional_title = 'Youtube'; //- TODO: Translate this

block additional_metadata
	meta(charset="UTF-8")

block additional_css
	link(rel='stylesheet', href='/youtube/css/lib/video-js.min.css')
	link(rel='stylesheet', href='/youtube/css/style.css')
	link(rel='stylesheet', href='/youtube/css/cards.css')
	link(rel='stylesheet', href='/youtube/css/animate-custom.css')

block additional_scripts
	script(src="/core/js/plugins/angular.min.js")
	script(src="/core/js/plugins/angular-route.min.js")
	script(src='/core/js/oauth.min.js')
	script(src='/core/js/plugins/iso8601.min.js')
	script(src="/core/js/plugins/video.js")
	script(src="/core/js/plugins/vjs.youtube.js")
	script(src="/youtube/js/main.js")
	script(src="/youtube/js/controllers.js")
	script(src="/youtube/js/directives.js")
	script(src="/youtube/js/services.js")
	
block body
	#wrapper
		ng-view