/***** -----------------   General CSS  ---------------------- *****/


/* Typography */

html{ background-color:#eeeeee; }
body{ font-family: 'Open Sans', sans-serif; color: #747474; font-weight: 300;}
a{ color:#444;}
a:hover{color:#333;}

h1,
h2,
h3 { font-family: 'Open Sans', sans-serif; text-transform:uppercase; font-weight: 300;}

h4,
h5,
h6{ font-family: 'Open Sans', sans-serif; text-transform:uppercase; font-weight: 300;}

h1{ font-size:36px; }
h2{ font-size:30px;}

h3 {
    margin:0;
    padding:0;
    font-weight:normal;
    font-size:24px;
}
h4 { font-size:12px;}
h3 a{
	font-size:24px; 
	text-decoration:none;
	margin:0;
	padding:0;
}

ul,
li{list-style:none; margin:0; padding:0;}

p{ font-size:20px; margin:40px 0;}
p a{color:#444; text-decoration:none; font-size:20px;}
p a:hover{text-decoration:none;}

/* Homepage Tiles */

.tile{
	width: 155px;
	height: 165px;
	float: left;
	margin: 2px 15px 10px 2px;
	list-style:none;
	display:none;
}

.tile > a{
	background:#000; 	
	width:100%;
	height:100%;
	display:block;
    padding:0;
}

.tile > a > span{ display:none }

.tile .info{
	font-size:14px;
	float:left;
	width:100%;
}

.tile.focused{border:0!important;}
.tile.focused img,
.tile:hover > a >img {
	opacity: 0.6;
}

#tiles{
	width:100%;
	height:100%;
	position:relative;
	margin:20px auto 0;
	overflow:hidden;
}

.tile img{ width:100%; height:100%;}
.tile:hover{ cursor:pointer; }

.upgrade-right {float:right; margin-right: 200px;}
.upgrade{ 
	margin:0px; 
	padding:10px 0px; 
	color:#fff;
	width: 250px;
	text-align:center;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background:#3598DC; 
}

/* Date and Time */

#dateandtime{top: 3px;}
#dateandtime .date,
#dateandtime .time{	text-align:right; font-weight: 300; font-size:20px; font-family: 'Open Sans', sans-serif; color:#333;}

/* Content */

.boxed{
	background:#fff;
	padding:0;
	position:relative;
}

.focused{
    background-color: #EFEFEF;
	cursor: pointer;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1); 
	cursor:pointer; 
}

#header{
	height:70px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
    box-sizing: border-box;
	padding:5px 100px 10px 100px;
	position:relative;
	float:left;
    background:#3B3F40;
	overflow:hidden;
	-webkit-animation: glide-in 0.5s; 
	-moz-animation: glide-in 0.5s; 
    -o-animation: glide-in 0.5s; 
    animation: glide-in 0.5s;
    border-bottom: 5px solid #fb8521;
}
.homepage{overflow:hidden;}
.homepage #header{background:#fff; height:75px; padding-top:10px;}
.homepage #header h1{color:#333;}

#header #search,
#header #filter{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 400px;
    height: 65px;
    border: 0;
    background: #f5f5f5;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

#header #search:focus{
    width:600px;
}

#header #filter{
    right: 350px;
    /*Disable filter temorarily untill better implemented */
    display:none;
}

a.backlink{ 
	display:inline-block;
	float:left; 
	margin-top:5px; 
	margin-right:30px;
	width: 32px;
	height:32px;
	font-family: 'Metrize-Icons';
	-webkit-font-smoothing: antialiased;
	font-size: 40px;
	color:#f5f5f5;
}

.homepage h1{text-transform: none; font-weight:300;}

#header .logo{ float:left; height:45px; margin: 0px 10px 0 0px; }

#header h1{
	width: 50%;
	padding: 0;
	margin:0;
	display: inline-block;
    color:#f5f5f5;
    font-size: 30px;
    padding-top:6px;
}

#content{
	width:800px;
	margin:0;
	padding:0;
	margin-left:60px;
}

/* Form elements */

label,
.label{ font-size:16px; font-family: 'Open Sans', sans-serif; }


.btn {
  float:left;
  display:block;
  font-size:16px;
  font-weight:300;
  color:#fff;
  text-decoration:none;
  text-align:center;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  cursor:pointer;
  border: none;
  background: #fb8521;
  border-radius:5px;
  box-shadow: inset 0px 1px 0px #fb8521, 0px 4px 0px 0px #c96311, 0px 7px 5px #ddd;
}

.btn:hover{ color:#fff; background: #f5994c; }
.btn:active{ top:3px; box-shadow: inset 0px 1px 0px #fb8521, 0px 2px 0px 0px #c96311, 0px 5px 3px #ddd; }
.btn-alternative{ background: #0074a2;}
.btn-alternative:hover{ background: #1c8fbd; }
.btn-alternative:active{ box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #074057, 0px 5px 3px #ddd; }
.btn.btn-disabled,
.btn.btn-disabled:hover,
.btn.btn-disabled:active{
    background-color:#ddd;
    color:#fff;
    top:0;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 4px 0px 0px #979797, 0px 7px 5px #ddd;
}

em.error{ display: block !important; float:left; margin:5px 0 0 5px; color: red; font-style: normal; font-size: 13px;}

input[type=text],
input[type=password],
select,
textarea{
	margin: 0;
	padding: 0.85em 1.2em;
	font-size: 18px;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	outline: none;
	color: rgba(0, 0, 0, 0.7);
	border-radius: 0;
	-webkit-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width:40%;
	float:left;
    background: #f5f5f5;
}

#search::-webkit-input-placeholder::before { font-family: Icons; content:'\f002  '; color: #ddd }
#search:-moz-placeholder::before  { font-family: Icons; content:'\f002  '; color: #ddd } 
#search:-ms-input-placeholder::before  { font-family: Icons; content:'\f002  '; color: #ddd } 
#search:-moz-placeholder::before  { font-family: Icons; content:'\f002  '; color: #ddd }

#filter::-webkit-input-placeholder::before { font-family: Icons; content:'\f0c9  '; color: #ddd }
#filter:-moz-placeholder::before  { font-family: Icons; content:'\f0c9  '; color: #ddd } 
#filter:-ms-input-placeholder::before  { font-family: Icons; content:'\f0c9  '; color: #ddd } 
#filter:-moz-placeholder::before  { font-family: Icons; content:'\f0c9  '; color: #ddd }


/* Player */

#player{
	position:absolute;
	bottom:0;
	left:0;
}

/***** -----------------   MEDIA QUERIES  ---------------------- *****/



@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For tablet portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For tablet landscape layouts only */

}
@media only screen and (min-width: 320px) and (max-width: 529px) {
    /* For phone layouts only */

    #wrapper{padding:15px; }
    #header{ padding:5px 10px 10px;}
    #dateandtime { position:absolute; right:20px; top:0px; }

    .boxed{ width:35%;}

    .tile{
        width: 155px;
        height: 165px;
        float: left;
        margin: 2px 5px 10px 2px;
        list-style:none;
        display:none;
    }
    #filter{display:none;}
    #header #search { width:300px; }

    .homepage{overflow-y:auto;}
}

@media (min-width:530px) and  (max-width: 651px) {
    #wrapper{padding:15px; }
    #header{ padding:5px 10px 10px;}
    #dateandtime { position:absolute; right:20px; top:0px; }
    #filter{display:none;}
    #header #search { width:300px;}

}
@media (min-width:651px) and (max-width: 980px) {


}



/***** -----------------   ANIMATIONS  ---------------------- *****/




.glinein{
    -webkit-animation: glide-in 0.5s;
    animation: glide-in 0.5s;
}

.fadein{
   -webkit-animation: fade-in 1s;
    animation: fade-in 1s;
}

.fadeinslow{
    -webkit-animation: fade-in 2s;
    animation: fade-in 2s;
}

.fadeout{
    -webkit-animation: fade-out 2s;
    animation: fade-out 2s;
}

.flipin{ 
    -webkit-animation: flip-in 1s;
    animation: flip-in 1s;
}


@-webkit-keyframes flip-in {
	0%  { 
		opacity: 0.0; 
		-webkit-transform: perspective(600px) rotateY(50deg);
		-moz-transform: perspective(600px) rotateY(50deg);
		-ms-transform: perspective(600px) rotateY(50deg);
		transform: perspective(600px) rotateY(50deg);
		-webkit-transform-origin: 100% 20%;
		-moz-transform-origin: 100% 20%;
		-ms-transform-origin: 100% 20%;
		transform-origin: 100% 20%;
	}
	100% { 
		opacity: 1.0; 
		-webkit-transform: perspective(0px) rotateY(0deg);
		-moz-transform: perspective(0px) rotateY(0deg);
		-ms-transform: perspective(0px) rotateY(0deg);
		transform: perspective(0px) rotateY(0deg);
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
}
@keyframes flip-in {
	0%  { 
		opacity: 0.0; 
		transform: translate3d(0, 0, 0);
		transform: perspective(600px) rotateY(50deg);
		-ms-transform: perspective(600px) rotateY(50deg);
		transform: perspective(600px) rotateY(50deg);
		transform-origin: 100% 20%;
		-ms-transform-origin: 100% 20%;
		transform-origin: 100% 20%;
	}
	100% { 
		opacity: 1.0; 
		transform: translate3d(0, 0, 0);
		transform: perspective(0px) rotateY(0deg);
		-ms-transform: perspective(0px) rotateY(0deg);
		transform: perspective(0px) rotateY(0deg);
		transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
}



@-webkit-keyframes fade-in {
	0%  { opacity: 0.0; -webkit-transform: translate3d(0, 0, 0);}
	100% { opacity: 1.0; -webkit-transform: translate3d(0, 0, 0);}
}
@keyframes fade-in {
	0%  { opacity: 0.0; transform: translate3d(0, 0, 0);}
	100% { opacity: 1.0; transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes glide-in {
	0%{margin-left:-30px; opacity: 0.0; -webkit-transform: translate3d(0, 0, 0);} 
	100%{margin-left:0; opacity: 1.0; -webkit-transform: translate3d(0, 0, 0);}
}	
@keyframes glide-in {
	0%{margin-left:-30px; opacity: 0.0; transform: translate3d(0, 0, 0);} 
	100%{margin-left:0; opacity: 1.0; transform: translate3d(0, 0, 0);}
}


@-webkit-keyframes fade-out {
	0%  { opacity: 1.0; -webkit-transform: translate3d(0, 0, 0); }
	100% { opacity: 0.0; -webkit-transform: translate3d(0, 0, 0); }
}
@keyframes fade-out {
	0%  { opacity: 1.0; transform: translate3d(0, 0, 0); }
	100% { opacity: 0.0; transform: translate3d(0, 0, 0); }
}






