lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/


.DS_Store
.AppleDouble
.LSOverride
Icon
screenshots/
thumbs.db

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Files from updating data locally
public/data/*
public/music/data/*
public/movies/data/*
public/tv/data/*
lib/database/mcjs.sqlite


#Configuration
configuration/config.ini