lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

public/data/*
configuration/config.ini
config.ini
npm-debug.log
node_modules/
screenshots/
.DS_Store
thumbs.db
.idea
.idea/*
public/music/data/*
public/movies/data/* 
lib/database/mcjs.sqlite