doctype 5
html(lang="en")
	head
		// Core inclusion
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans')
		link(rel='stylesheet', href='/core/css/style.css')
		script(src="/core/js/jquery-1.8.2.min.js")

	body
		#header
			h1 Setup MediacenterJS
		#wrapper
			#content
				p Thank you for taking the time to setup MediacenterJS. 
				p Simply press the button below and start exploring what MediaCenterJS has to offer. For (partial) documentation please visit GitHub. (link available on mediacenterjs.com)
				a.btn(href="/") Launch MediacenterJS
