extends layout

block declarations
    - body_class = 'homepage';
    - include_remote = true;

block additional_scripts
    script.
        $(function() {

            $.ajax({
                url: '/checkForUpdate',
                type: 'get',
                dataType: 'json'
            }).done(function(data){
                if(data){
                    $('.upgrade-right> .btn').text(data);
                    $('.upgrade-right').show();
                }
            });

            $('.upgrade-right > .btn').on('click',function(e){
                e.preventDefault();
                $('#wrapper').prepend('<div class="message">Downloading and installing update. <br/> Please wait for the installation to finish...</div>');
                $('#tiles').hide();
                $('.upgrade-right').hide();
                $.ajax({
                    url: '/doUpdate',
                    type: 'get'
                }).done(function(data){ if(data === "restarting") setTimeout(function(){ window.location="/"},20000); });
            });

            $('body').mcjs();


        });

block body
        header
            .container
                .row
                    .col-md-8.col-xs-12
                        img.logo(src="/core/css/img/logo.png")
                        h1 MediacenterJS
                        -if(allowed === 'no')
                            h4 Parental lock enabled
                        div.upgrade-right.boxed(style="display:none;")
                            a.btn.upgrade
                    .col-md-4.hidden-xs
                        #dateandtime
                            .time=time
                            .date=date
        .container
            .row
                ul#tiles
                    each item in apps
                        li.tile.boxed.mcjs-rc-controllable.col-md-2.col-xs-1
                            a(href="/" + item.appLink + "/").mcjs-rc-clickable
                                img(src="/" + item.tileLink + "/tile.svg", onerror="this.src='/" + item.tileLink + "/tile.png'")
                                span=item.tileLink
