doctype 5
html(lang="en")
	head
		title MediacenterJS
		meta(name="mobile-web-app-capable" content="yes")
		// Core inclusion
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans')
		
		link(rel='stylesheet', href='/core/css/style.css')
		link(rel='stylesheet', href='/core/css/jquery-ui-1.10.3.custom.min.css')
		link(rel='stylesheet', href='/themes/'+selectedTheme)
		
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/jquery-ui-1.10.3.min.js")
		
		script(src="/core/js/socket.io.min.js")
		
		script(src="/core/js/plugins/jquery.idle-timer.js")
		script(src="/core/js/plugins/jquery.i18n.properties.-1.0.9.js")
		script(src="/core/js/jquery.mcjs.core.js")
		
		script.
			$(function() {
				var index = 0;
				var length = $("ul").children().length;
				var delays = [
					200,
					100,
					200,
					100
				];
				
				function delayNext()
				{
					setTimeout(function() {
						$("ul li:eq(" + index + ")").show().addClass("flipin");
						index++;
						
						if (index == length)
							index = 0;
						
						delayNext();
					}, delays[index]);
				}
				
				delayNext();
				
				$('body').mcjs();
			});
		
	body.homepage
		#backdrop
			img.backdropimg(src="/core/css/img/backdrop.png")	
		#header
			img.logo(src="/core/css/img/logo.png")
			h1 MediacenterJS
			#dateandtime
				.time=time
				.date=date	
		#wrapper
			ul#tiles
				each item in apps
					li.tile.boxed.controllable
						a(href="/" + item.appLink + "/")
							img(src="/" + item.tileLink + "/tile.png")