doctype 5
html(lang="en")
	head
		title MediacenterJS
		meta(name="mobile-web-app-capable" content="yes")
		// Core inclusion
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans')
		
		link(rel='stylesheet', href='/core/css/style.css')
		link(rel='stylesheet', href='/core/css/jquery-ui-1.10.3.custom.min.css')
		link(rel='stylesheet', href='/themes/'+selectedTheme)
		
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/jquery-ui-1.10.3.min.js")
		
		script(src="/core/js/socket.io.min.js")
		
		script(src="/core/js/plugins/jquery.idle-timer.js")
		script(src="/core/js/plugins/jquery.i18n.properties.-1.0.9.js")
		script(src="/core/js/jquery.mcjs.core.js")
		
		script.
			$(function() {
				var index = 0;
				var length = $("ul").children().length;
				var delays = [
					200,
					100,
					200,
					100
				];
				
				function delayNext()
				{
					setTimeout(function() {
						$("ul li:eq(" + index + ")").show().addClass("flipin");
						index++;
						
						if (index == length)
							index = 0;
						
						delayNext();
					}, delays[index]);
				}
				
				delayNext();
				
				$('body').mcjs();
				
				//TODO: Get port from config file
				var socket = io.connect('http://localhost:3001');
				socket.on('connect', function(data){
					console.log(data);
					socket.emit('screen');
				});

				
				socket.on('controlling', function(data){
					var focused = $('li.focused')
					,item = $('li')
					,elid = $(document.activeElement).is("input:focus");

					if(data.action === "goLeft"){ 
						focused.removeClass('focused').prev('li').addClass('focused');
						if (item.prev().length == 0) item.eq(-1).addClass('focused');
					}
					else if(data.action === "goRight"){
						if (focused.next().length == 0){
							item.eq(0).addClass('focused');
						} 
						focused.removeClass('focused').next('li').addClass('focused');
					}
					else if(data.action === "enter"){
						if (!elid) document.location = focused.find('a').attr('href');
					}
				});
			});
		
	body.homepage
		#backdrop
			img.backdropimg(src="/core/css/img/backdrop.png")	
		#header
			img.logo(src="/core/css/img/logo.png")
			h1 MediacenterJS
			#dateandtime
				.time=time
				.date=date	
		#wrapper
			ul#tiles
				each item in apps
					li.tile.boxed
						a(href="/" + item.appLink + "/")
							img(src="/" + item.tileLink + "/tile.png")