doctype 5
html(lang="en")
	head
		title MediacenterJS
		
		// Core inclusion
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans')
		link(rel='stylesheet', href='/core/css/style.css')
		link(rel='stylesheet', href='/themes/'+selectedTheme)
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/plugins/jquery.idle-timer.js")
		script(src="/core/js/jquery.mcjs.core.js")
		
		script
			$(function() {
				var index = 0;
				var length = $("ul").children().length;
				var delays = [
						200,
						100,
						200,
						100
				];
				
				function delayNext()
				{
					setTimeout(function() {
						$("ul li:eq(" + index + ")").show().addClass("flipin");
						index++;
						
						if (index == length)
							index = 0;
						
						delayNext();
					}, delays[index]);
				}
				
				delayNext();
			});

		script
			$(document).ready(function(){
				$('body').mcjs();
			});
		
	body.homepage
		#backdrop
			img.backdropimg(src="/core/css/img/homepage.jpg")	
		#header
			img.logo(src="/core/css/img/logo.png")
			h1 MediacenterJS
			.settingslink
				a(href="/settings") #{lingua.settings}
			#dateandtime
				.time=time
				.date=date	
		#wrapper
			ul#tiles
				each item in apps
					li.tile.boxed
						a(href="/"+item)
							img(src="/"+item+"/tile.png")
						.info
							if item !== 'movies' && item !== 'music' && item !== 'weather' && item !== 'tv'
								.remove
									img(src="/core/css/img/remove.png") 
									a(href=item) Remove
