doctype 5
html(lang="en")
	head
		// Core inclusion
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans')
		link(rel='stylesheet', href='/core/css/style.css')
		script(src="/core/js/jquery-1.8.2.min.js")

	body
		#wrapper
			#header
				h1 Hi, Please setup MediacenterJS
			form#setup.validate-form(action='/setuppost',method='post')
				.row
					label Specify movielocation
					input(name="movielocation",type="text",placeholder="C:/temp or /mnt/media/hdd/movies")
					span.info MediaCenterJS will index all the moviefiles in this initial folder. <br/> You can add or change a location later in the settings. 
				.row
					span.label Use high res images (needs more diskspace) 
					.checkgroup
						input#highresyes(name="highres",type="radio",value="yes",checked) 
						label(for="highresyes") Yes
						input#highresno(name="highres",type="radio",value="no") 
						label(for="highresno") No
				.row
					span.label Use client side on screen keyboard
					.checkgroup
						input#yeskeyboard(name="usekeyboard",type="radio",value="yes") 
						label(for="yeskeyboard") Yes
						input#nokeyboard(name="usekeyboard",type="radio",value="no",checked) 
						label(for="nokeyboard") No
				.row
					label Language
					input(name="language",type="text",placeholder="ie nl or gb")
				.row
					label You current location (city)
					input(name="location",type="text",placeholder="ie london or amsterdam")
					input(name="screensaver",type="text",value="dim",style="visibility:hidden;")
					input(name="musiclocation",type="text",value="tbd",style="visibility:hidden;")
					input(name="tvlocation",type="text",value="tbd",style="visibility:hidden;")
					input(name="showdetails",type="text",value="yes",style="visibility:hidden;")
				.row
					input(type="submit",value="Submit")