extends layout

block declarations
	- include_validation = true;

block additional_css
	link(rel='stylesheet', href='/setup/css/style.css')
	link(rel='stylesheet', href='/settings/css/style.css')

block additional_scripts
	script(src='/core/js/plugins/oauth.min.js')
	script(src="/settings/js/jquery.mcjs.settings.js")
	script.
		$(function() {
			var userLang = navigator.language || navigator.userLanguage;
			userLang = userLang.replace(/-.*/,'');
			if(userLang.match(/nl|en|fr|da|de|pt|sv|tr|it|ru|ua/g)){
				$('input#language').val(userLang);
			} else{
				$('input#language').val('en');
			}

			var isMac = navigator.platform.toUpperCase().indexOf('MAC')>=0;
			if(isMac){
				$('input#platform').val('OSX');
			}
		});

block body
	#header
		h1(style="width:100%") Hi, Please setup MediacenterJS
	#wrapper

		input.oauthKeyHidden(name="oauthKey" type="hidden")
		form#setup.validate-form(action='/setuppost',method='post')
			.row
				span.info
					span.quote &ldquo;
					span Please provide the location of your media. You can always add or alter these settings from the settings panel. <br/> An app will become accessible once a valid path is given.
					span.quote &rdquo;
			.row.mcjs-rc-controllable
				label(for="moviepath") Specify movie location
				input#moviepath.mcjs-rc-clickable(name="moviepath",type="text", placeholder="C:/temp/ or /mnt/media/hdd/movies/", data-rule-path="true",  data-msg-path="Specify a valid path. <br/>Please end with a slash and use forward slashes.")
			.row.mcjs-rc-controllable
				label(for="musicpath") Specify music location
				input#musicpath.mcjs-rc-clickable(name="musicpath",type="text", placeholder="C:/temp/ or /mnt/media/hdd/music/", data-rule-path="true",  data-msg-path="Specify a valid path. <br/>Please end with a slash and use forward slashes.")
			.row.mcjs-rc-controllable
				label(for="tvpath") Specify tvshow location
				input#tvpath.mcjs-rc-clickable(name="tvpath",type="text", placeholder="C:/temp/ or /mnt/media/hdd/music/", data-rule-path="true",  data-msg-path="Specify a valid path. <br/>Please end with a slash and use forward slashes.")
			.row.mcjs-rc-controllable
				label(for="location") You current location (city) *
				input#location.mcjs-rc-clickable(name="location",type="text", placeholder="ie london or amsterdam",data-rule-required="true", data-msg-required="This field is required.")
			.row.mcjs-rc-controllable
				label(for="port") Port *
				input#port.mcjs-rc-clickable(name="port",type="text", placeholder="ie 3000 or 1337", data-rule-required="true", data-msg-required="This field is required.")
			.row.mcjs-rc-controllable
				span.info
					span.quote &ldquo;
					span Securely connect to your Google account using oAuth to use the YouTube app.<br/> Logging in will enable you to view your personal content. <br/> After logging in using oAuth, press 'submit' to save and continue.<br/> You can also log in later.
					span.quote &rdquo;
				input#oauthKey(name="oauthKey" type="hidden", placeholder="OAuth.io Key", value="")
				input.oauth(name="oauth" type="hidden")
				a.btn#oauth(href="#", style="display:inline-block;") Connect to Google using oAuth
				input.mcjs-rc-clickable(type="submit",value="Submit", style="display:inline-block; margin-left:150px;")
				label(for="oauthKey")

				input(name="screensaver",type="hidden",value="dim")
				input#language(name="language",type="hidden",value="en")
				input#platform(name="platform",type="hidden",value="")
				input(name="theme",type="hidden",value="wigo")
				input(name="spotifyUser",type="hidden",value="")
				input(name="spotifyPass",type="hidden",value="")
				input(name="localIP",type="hidden",value=localIP)
				input(name="remotePort",type="hidden",value="3001")
			.row
				label * = required
