doctype 5
html(lang="en")
	head
		// Core inclusion
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans')
		link(rel='stylesheet', href='/core/css/style.css')
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/plugins/jquery.prettyForm.js")
		script(src="/core/js/plugins/validation/jquery.validate.min.js")
		script(src="/core/js/plugins/validation/jquery.validate.defaults.js")
		script(src="/core/js/plugins/validation/jquery.validate.rules.js")
		script.
			$(document).ready(function() {
				$('.validate-form').validate();
				$("[type=checkbox], [type=radio]").prettyForm();
			});
	body
		#header
			h1 Hi, Please setup MediacenterJS
		#wrapper
			form#setup.validate-form(action='/setuppost',method='post')
				.row
					label Specify movie location
					input.keyboard(name="movielocation",type="text",placeholder="C:/temp/ or /mnt/media/hdd/movies/", data-rule-required="true", data-rule-path="true",  data-msg-path="Specify a valid path. <br/>Please end with a slash and use forward slashes.")
				.row	
					span.info 
						span.quote &ldquo;
						span MediaCenterJS will index all the moviefiles in this initial folder. <br/> You can add or change a location later in the settings.
						span.quote &rdquo; 		
				.row
					label Specify music location
					input.keyboard(name="musiclocation",type="text",placeholder="C:/temp/ or /mnt/media/hdd/music/", data-rule-required="true", data-rule-path="true",  data-msg-path="Specify a valid path. <br/>Please end with a slash and use forward slashes.")							
				.row
					label Specify tvshow location
					input.keyboard(name="tvlocation",type="text",placeholder="C:/temp/ or /mnt/media/hdd/music/", data-rule-required="true", data-rule-path="true",  data-msg-path="Specify a valid path. <br/>Please end with a slash and use forward slashes.")							
				.row
					span.label Use high res images (needs more diskspace) 
					.checkgroup
						input#highresyes(name="highres",type="radio",value="yes",checked) 
						label(for="highresyes") Yes
						input#highresno(name="highres",type="radio",value="no") 
						label(for="highresno") No
				.row
					span.label Use client side on screen keyboard
					.checkgroup
						input#yeskeyboard(name="usekeyboard",type="radio",value="yes") 
						label(for="yeskeyboard") Yes
						input#nokeyboard(name="usekeyboard",type="radio",value="no",checked) 
						label(for="nokeyboard") No
				.row
					label Language
					input.keyboard(name="language",type="text",placeholder="ie nl or en",data-rule-required="true", data-rule-language="true",  data-msg-language="Only NL and EN are currently supported")
				.row
					label You current location (city)
					input.keyboard(name="location",type="text",placeholder="ie london or amsterdam",data-rule-required="true")
				.row
					label Port
					input.keyboard(name="port",type="text",placeholder="ie 3000 or 1337",data-rule-required="true")
				.row
					input(type="submit",value="Submit")
					input(name="screensaver",type="text",value="dim",style="visibility:hidden;")
					input(name="theme",type="text",value="wigo.css",style="visibility:hidden;")