doctype 5
html(lang="en")
	head
		// Core inclusion
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans')
		link(rel='stylesheet', href='/core/css/style.css')
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/plugins/jquery.prettyForm.js")
		script(src="/core/js/plugins/validation/jquery.validate.min.js")
		script(src="/core/js/plugins/validation/jquery.validate.defaults.js")
		script(src="/core/js/plugins/validation/jquery.validate.rules.js")
		script.
			$(document).ready(function() {
				$('.validate-form').validate();
				$("[type=checkbox], [type=radio]").prettyForm();
				
				var userLang = navigator.language || navigator.userLanguage; 
				userLang = userLang.replace(/-.*/,'');
				
				if(userLang.match(/nl|en|fr|da|pt/g)){
					$('input#language').val(userLang);
				} else{
					$('input#language').val('en');
				}
				
				var isMac = navigator.platform.toUpperCase().indexOf('MAC')>=0;
				if(isMac){
					$('input#platform').val('OSX');
				} 
			});
	body
		#header
			h1(style="width:100%") Hi, Please setup MediacenterJS
		#wrapper
			form#setup.validate-form(action='/setuppost',method='post')
				.row
					label Specify movie location
					input.keyboard(name="moviepath",type="text",placeholder="C:/temp/ or /mnt/media/hdd/movies/", data-rule-required="true", data-rule-path="true",  data-msg-path="Specify a valid path. <br/>Please end with a slash and use forward slashes.")
				.row	
					span.info 
						span.quote &ldquo;
						span MediaCenterJS will index all the moviefiles in this initial folder. <br/> You can add or change a location later in the settings.
						span.quote &rdquo; 		
				.row
					label Specify music location
					input.keyboard(name="musicpath",type="text",placeholder="C:/temp/ or /mnt/media/hdd/music/", data-rule-required="true", data-rule-path="true",  data-msg-path="Specify a valid path. <br/>Please end with a slash and use forward slashes.")
				.row
					label Specify tvshow location
					input.keyboard(name="tvpath",type="text",placeholder="C:/temp/ or /mnt/media/hdd/music/", data-rule-required="true", data-rule-path="true",  data-msg-path="Specify a valid path. <br/>Please end with a slash and use forward slashes.")
				.row
					label You current location (city)
					input.keyboard(name="location",type="text",placeholder="ie london or amsterdam",data-rule-required="true")
				.row
					label Port
					input.keyboard(name="port",type="text",placeholder="ie 3000 or 1337",data-rule-required="true")
				.row
					input(type="submit",value="Submit")
					input(name="screensaver",type="hidden",value="dim")
					input#language(name="language",type="hidden",value="en")
					input#platform(name="platform",type="hidden",value="")
					input(name="theme",type="hidden",value="wigo.css")
					input(name="spotifyUser",type="hidden",value="")
					input(name="spotifyPass",type="hidden",value="")
					input(name="localIP",type="hidden",value= localIP)
					input(name="remotePort",type="hidden",value="3001")
					input(name="binaries",type="hidden",value="packaged")
