.item-list {
  width: 100%;
}

.item {
  width: 24%;
  vertical-align: top;
  padding: 5px;
  display: inline-block;
  clear: both;
  height: 340px;
}

.item.album {
  background-color: #fff;
}

h2.backlink-description {
  position: relative;
  top: -9px;
  right: 15px;
  cursor: pointer;
}

.imagePreviewClose {
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  background-color: rgba(100, 100, 100, 0.4);
  padding: 10px 17px;
  border-radius: 100%;
}

.imagePreviewClose:hover {
  font-weight: hold;
  color: white;
  text-decoration: none;
}

#imageView > img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0px auto;
}

.item.album h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item img {
  max-width: 100%;
}
