.item-list {
  width: 100%;
}

.item {
  clear: both;
  display: inline-block;
  height: 340px;
  padding: 5px;
  vertical-align: top;
  width: 24%;
}

.item.album {
  background-color: #fff;
}

h2.backlink-description {
  cursor: pointer;
  position: relative;
  right: 15px;
  top: -9px;
}

.imagePreviewClose {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 100%;
  color: white;
  padding: 10px 17px;
  position: fixed;
  right: 10px;
  top: 10px;
}

.imagePreviewClose:hover {
  color: white;
  font-weight: hold;
  text-decoration: none;
}

#imageView {
  background-color: #333;
}

#imageView > img {
  display: block;
  margin: 0px auto;
  max-height: 100%;
  max-width: 100%;
}

.item.album h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item img {
  max-width: 100%;
}
