extends /layout

block declarations
	- additional_title = 'Google Music'; //- TODO: Translate this

block additional_scripts
	script.
		$(document).ready(function(){
			$('body').mcjs();
		});

block body
	#backdrop
		img.backdropimg(src="")
	#wrapper
		a.backlink(href="/") 
			img(src="/core/icons/back.png")
		h1 This is a placeholder for the Google music app.