<div class="form-group">
    <label>volume: <input min="0" max="1" step="0.01" type="range" ng-model="audio.volume" /></label>
</div>

<div class="form-group">
    <button ng-disabled="currentNum == 0" class="btn btn-default prev" ng-click="prev()"><i class="glyphicon glyphicon-step-backward"></i> prev</button>
    <button class="btn btn-default playpause" ng-click="playpause()" ng-class="{paused:audio.paused}">
        <span class="play-text"><i class="glyphicon glyphicon-play"></i> play</span>
        <span class="pause-text"><i class="glyphicon glyphicon-pause"></i> pause</span>
    </button>
    <button ng-disabled="currentNum >= (totalNum-1)" class="btn btn-default next" ng-click="next()">next <i class="glyphicon glyphicon-step-forward"></i></button>
</div>

<div class="form-group time">
    <label>time: <input min="0" max="{{audio.duration}}" step="0.01" type="range" ng-model="audio.currentTime" /></label>
</div>

<div class="form-group now-playing">
    <p>Now Playing: <img width="30" height="30" src="{{info.image}}" /></p>
    <p>{{info.artist.name}} - {{info.title}}</p>
</div>