doctype 5
html(lang="en")
	head
		// Core inclusion
		link(rel='stylesheet', href='/core/css/style.css')
		link(rel='stylesheet', href='/core/css/jquery-ui-1.10.3.custom.min.css')
		link(rel='stylesheet', href='/themes/'+selectedTheme)
		
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/jquery-ui-1.10.3.min.js")
		
		script(src="/core/js/socket.io.min.js")
		script(src="/core/js/plugins/jquery.idle-timer.js")
		script(src="/core/js/plugins/jquery.i18n.properties.-1.0.9.js")
		script(src="/core/js/jquery.mcjs.core.js")
		
		// App specific
		script(src="/weather/js/jquery.mcjs.weather.js")
		link(rel='stylesheet', href='/weather/css/style.css')
		
		title #{lingua.weather}
		script.
			$(function(){
				$('body').mcjs();
				$('body').mcjsw();
			});
	body
		#backdrop
			img.backdropimg.fullscreen(src="/core/css/img/homepage.jpg")
		#header
			a.backlink(href="/") 
				img(src="/weather/img/back.png")
			h1	
		#wrapper
			.current
				.degrees
				.feelslike
				.weathertype
		.forecast