extends /layout

block declarations
    - additional_title      = lingua.tvshows;
    - body_class            = 'appTv';
    - use_angular           = true;
    - angular_app           = "tvApp";
    - angular_body_ctrl     = "tvCtrl";
    - angular_body_class    = "{playing:playing}";

block additional_css
    link(href="http://vjs.zencdn.net/4.3/video-js.css", rel="stylesheet")
    link(rel='stylesheet', href='/tv/css/style.css')

block additional_scripts
    script(src="/core/js/plugins/angular/angular-ui/ui-bootstrap-tpls-0.11.0.js")
    script(src="/core/js/plugins/jquery/jquery.slimscroll.min.js")
    script(src="/core/js/plugins/video.js")
    script(src="/tv/js/app.js")
    script(src="/core/js/video.js")
    script(src="/tv/js/remote.js")

block body
    header
        a.backlink(href="/",ng-class="{side: player.playlist.length > 0}") &#xe113;
        h1 #{lingua.tvshows}

        input#search.pull-right(ng-model="query", type="text", placeholder="Search")

    .container
        #playlist(ng-show="player.playlist.length > 0")
            h2 Playlist
            ul
                li.currentshow(ng-repeat="tvshow in player.playlist", ng-mouseover="changeSelected(tvshow)", ng-class="{current: player.current.tvshow == $index}")
                    .header( ng-click="player.playlist.remove(tvshow)")
                        span.tvshow-title {{tvshow.title}}
                        i.remove.circle.icon
                    ol.episodes
                        li.episode(ng-repeat="episode in tvshow.episodes", ng-class="{current: player.current.episode == $index}", ng-click="playEpisode(episode.localName)") #{lingua.tvshows_season} {{episode.season }} - #{lingua.tvshows_episode} {{episode.episode }}
        ul#tvshows(ng-class="{side: player.playlist.length > 0}")
            li.tvshow(ng-repeat="tvshow in tvshows | filter:query | orderBy:orderProp", ng-class="{current: focused == $index}")
                i.circular.inverted.edit.icon(ng-click="open(tvshow)")
                img(ng-src="{{tvshow.banner}}", ng-click="player.playlist.add(tvshow)")

        h2.loading(ng-show="!tvshows") #{lingua.loading}
            .progress-pie-chart(data-percent="{{serverMessage}}", ng-class="{gt50: serverMessage > 50}", ng-show="serverMessage > 0")
                .ppc-progress
                    .ppc-progress-fill(style="-webkit-transform:rotate({{360*serverMessage/100}}deg); transform:rotate({{360*serverMessage/100}}deg);")
                .ppc-percents
                    .pcc-percents-wrapper
                        span {{serverMessage}}%

    video#player.video-js.vjs-default-skin(width="100%", height="100%", ng-show="playing", controls, preload="metadata")

    script(type="text/ng-template", id="editModal.html")
        .modal-header
            h1 Edit TV show
        .modal-body
            .form-horizontal
                .row
                    .form-group
                        img.col-md-offset-1(ng-src="{{edit.banner}}")
                    .form-group
                        label.col-md-3.col-md-offset-1 Banner url
                        input.col-md-7(type="text",name="poster_path",ng-model="edit.banner",required,ng-value="current.banner")
                    .form-group
                        label.col-md-3.col-md-offset-1 Title
                        input.col-md-7(type="text",name="title",ng-model="edit.title",required,ng-value="current.title")
        .modal-footer
            input.btn(type="submit",value="submit", ng-click="editItem()",required)
            button.btn(ng-click="cancel()") Cancel
