extends /layout
block declarations
    - additional_title = lingua.tvshows;
    - use_knockout = true;
block additional_css
    link(href="http://vjs.zencdn.net/4.3/video-js.css", rel="stylesheet")
    style.
        .vjs-play-progress, .vjs-volume-level { background-color: #d96800!important; }
        .vjs-control-bar, .vjs-big-play-button { background: rgba(171,171,171,0.3)!important; }
        .vjs-slider { background: rgba(171,171,171,0.3)!important; }
        .vjs-fullscreen.vjs-user-inactive { cursor: none; }
        .vjs-default-skin .vjs-control-bar { font-size: 90% }
        .vjs-big-play-button{visibility:hidden;}
    link(rel='stylesheet', href='/tv/css/style.css')
block additional_scripts
    script(src="http://vjs.zencdn.net/4.3/video.js")
    script(src="/tv/js/knockout.tvshows.js")
    script(src="/tv/js/jquery.mcjs.tv.js")
    script(src="/tv/js/jquery.mcjs.tvplay.js")
block body
    #header
        a.backlink(href="/")
            img(src="/core/icons/back.png")
        h1 #{lingua.tvshows}
    #wrapper
        #tvshowbrowser
            // ko if: tvShows().length > 0
            ul.tvshows(data-bind="foreach: tvShows")
                li.tvposter.boxed.mcjs-rc-controllable
                    .imageWrapper
                        // ko if: banner() !== null
                        img.tvbanner(data-bind="attr: { src: banner }")
                        // /ko
                    .overlay.mcjs-rc-clickable(data-bind="{click: showEpisodes}")
                    span.showTitle(data-bind="text:title")
                    ul.episodes
            // /ko

            // ko ifnot: tvShows().length > 0
            h2 Don't worry, your tvshows are being indexed, please wait...
            // /ko