extends /layout

block declarations
    - additional_title = lingua.music;
    - use_angular = true;

block additional_css
    link(rel='stylesheet', href='/music/css/style.css')

block additional_scripts
    script(src="/music/js/components/audioplayer.js")
    script(src="/music/js/app.js")
    script(src="/music/js/controllers/main.js")

block body
    #wrapper()
        .container(ng-view="")