extends /layout

block declarations
    - additional_title      = lingua.music;
    - body_class            = 'appMusic';
    - use_angular           = true;
    - angular_app           = "musicApp";
    - angular_body_ctrl     = "musicCtrl";

block additional_css
    link(rel='stylesheet', href='/music/css/style.css')

block additional_scripts
    script(src="/core/js/plugins/angular/angular-ui/ui-bootstrap-tpls-0.11.0.js")
    script(src="/music/js/app.js")
    script(src="/music/js/remote.js")
    script(src="/core/js/plugins/jquery/jquery.slimscroll.min.js")
    script.
        $(function(){
            var isTouch = "ontouchstart" in document.documentElement;
            if(!isTouch){
                $('#inner-playlist').slimScroll({
                    height: 'auto'
                });
            }
        });
block body
    header
        .container 
            .row
                .col-md-12
                    a.backlink(href="/",ng-class="{side: player.playlist.length > 0}") &#xe113;
                    h1.hidden-xs #{lingua.music}

                    input#search.pull-right(ng-model="query", type="text", placeholder="Search", ng-show="albums")

    .container-fluid
            #playlist(ng-show="player.playlist.length > 0")
                #inner-playlist
                    h2 Playlist
                    ul
                        li.album(ng-repeat="album in player.playlist", ng-class="{current: player.current.album == $index}")
                            .list( ng-click="player.playlist.remove(album)")
                                img(ng-src="{{album.cover}}")
                                i.remove.circle.icon
                            .album-info
                                span.album-title {{album.album}}
                                span.album-artist {{album.artist}}
                                span.album-year(ng-show="album.year !== 0") {{album.year}}
                            ol.tracks
                                li.track(ng-repeat="track in album.tracks", ng-class="{current: player.current.track == $index}", ng-click="player.play($index, $parent.$index)")
                                    i.play.icon
                                    span.track-number {{track.track}}
                                    span.track-title {{track.title}}

            section#library(ng-class="{side: player.playlist.length > 0}")
                .row
                    .col-xs-8.col-sm-4.col-md-2.album-wrapper(ng-repeat="album in albums | filter:query", ng-mouseover="changeSelected(album)")
                        .thumbnail(ng-class="{current: focused == $index }")
                            i.circular.inverted.edit.icon(ng-click="open(album)")
                            img(ng-src="{{album.cover}}", ng-click="player.playlist.add(album)")
                            .caption
                                p
                                    span.album-title {{album.album}}
                                    span.album-artist {{album.artist}}
                                    span.album-year(ng-show="album.year !== 0") {{album.year}}

            h2.loading(ng-show="!albums") #{lingua.loading}
                .progress-pie-chart(data-percent="{{serverMessage}}", ng-class="{gt50: serverMessage > 50}", ng-show="serverMessage > 0")
                    .ppc-progress
                        .ppc-progress-fill(style="-webkit-transform:rotate({{360*serverMessage/100}}deg); transform:rotate({{360*serverMessage/100}}deg);")
                    .ppc-percents
                        .pcc-percents-wrapper
                            span {{serverMessage}}%
                {{serverStatus}}

    #player.col-xs-12.col-md-12.col-lg-12(ng-show="player.playlist.length > 0")
        #progressBar.ui.active.striped.progress
            span#progress.bar

        #playing-info.col-xs-12.col-md-5
            img.center-block.img-reponsive.hidden-xs(ng-src="{{player.currentAlbum.cover}}")
            .info
                span.album-artist {{player.currentAlbum.artist}}
                span.album-track {{player.currentTrack.title}}

        ul.nav
            li.left
                i.control.backward.icon(ng-click="player.previous()")
            li.middle
                i.control.play.icon(ng-click="player.play()",ng-hide="player.playing")
            li.middle
                i.control.pause.icon(ng-click="player.pause()",ng-show="player.playing")
            li.right
                i.control.forward.icon(ng-click="player.next()")

    script(type="text/ng-template", id="editModal.html")
        .modal-header
            h1 Edit album
        .modal-body
            .form-horizontal
                .row
                    .form-group
                        img.col-md-offset-1(ng-src="{{edit.thumbnail}}")
                    .form-group
                        label.col-md-3.col-md-offset-1 Thumbnail url path
                        input.col-md-7(type="text",name="thumbnail",ng-model="edit.thumbnail",required,ng-value="current.cover")
                    .form-group
                        label.col-md-3.col-md-offset-1 Artist
                        input.col-md-7(type="text",name="artist",ng-model="edit.artist",required,ng-value="current.artist")
                    .form-group
                        label.col-md-3.col-md-offset-1 Album title
                        input.col-md-7(type="text",name="title",ng-model="edit.title",required,ng-value="current.album")
        .modal-footer
            input.btn(type="submit",value="submit", ng-click="editItem()",required)
            button.btn(ng-click="cancel()") Cancel
