doctype 5
html(lang="en")
	head		
		title music
		
		// Core inclusion
		link(rel='stylesheet', href='/core/css/style.css')
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/jquery.mcjs.core.js")
		
		link (rel='stylesheet', href='/core/css/video-js.css')
		script (src="/core/js/plugins/video-js.js")
		script(src="/core/js/plugins/jquery.carouFredSel-6.1.0-packed.js")
		
		// App specific
		link(rel='stylesheet', href='/music/css/style.css')
		script(src="/music/js/jquery.mcjs.music.js")
		
		script
			$(document).ready(function(){
				$('body').mcjs();
				$('body').mcjsm();
			});
	body
		#backdrop
			img.backdropimg(src="/core/css/img/homepage.jpg")	
		#wrapper
			a.backlink(href="/") 
				img(src="/core/icons/back.png")
			h1 Music
			#musicWrapper
				if status !== null
					p.gui= status
				else
					ul.music
						each album in music
							li
								img(src="/movies/img/loading.gif").movieposter
								a.title= album	
	