extends /layout

block declarations
    - additional_title      = lingua.music;
    - body_class            = 'appMusic';
    - use_angular           = true;
    - angular_app           = "musicApp";
    - angular_body_ctrl     = "musicCtrl";

block additional_css
    link(rel='stylesheet', href='/music/css/style.css')

block additional_scripts
    script(src="/core/js/plugins/angular/angular-ui/ui-bootstrap-tpls-0.11.0.js")
    script(src="/music/js/app.js")
    script(src="/music/js/remote.js")
    script(src="/core/js/plugins/jquery/jquery.slimscroll.min.js")
block body
    header
        a.backlink(href="/",ng-class="{side: player.playlist.length > 0}") &#xe113;
        h1 #{lingua.music}

        input#search.pull-right(ng-model="query", type="text", placeholder="Search")

    .container-fluid
            #playlist(ng-show="player.playlist.length > 0")
                #inner-playlist
                    h2 Playlist
                    ul
                        li.album(ng-repeat="album in player.playlist", ng-class="{current: player.current.album == $index}")
                            .list( ng-click="player.playlist.remove(album)")
                                img(ng-src="{{album.cover}}")
                                i.remove.circle.icon
                            .album-info
                                span.album-title {{album.album}}
                                span.album-artist {{album.artist}}
                                span.album-year(ng-show="album.year !== 0") {{album.year}}
                            ol.tracks
                                li.track(ng-repeat="track in album.tracks", ng-class="{current: player.current.track == $index}", ng-click="player.play($index, $parent.$index)")
                                    i.play.icon
                                    span.track-number {{track.track}}
                                    span.track-title {{track.title}}

            section#library(ng-class="{side: player.playlist.length > 0}")
                .row
                    .col-xs-8.col-sm-4.col-md-2.album-wrapper(ng-repeat="album in albums | filter:query | orderBy:orderProp")
                        .thumbnail(ng-class="{current: focused == $index }")
                            i.circular.inverted.edit.icon(ng-click="open(album)")
                            img(ng-src="{{album.cover}}", ng-click="player.playlist.add(album)")
                            .caption
                                p
                                    span.album-title {{album.album}}
                                    span.album-artist {{album.artist}}
                                    span.album-year(ng-show="album.year !== 0") {{album.year}}

            h2.loading(ng-show="!albums") #{lingua.loading}

    #player(ng-show="player.playlist.length > 0")
        #progressBar.ui.active.striped.progress
            span#progress.bar
        ul.nav
            li.left
                i.control.backward.icon(ng-click="player.previous()")
            li.middle
                i.control.play.icon(ng-click="player.play()",ng-hide="player.playing")
            li.middle
                i.control.pause.icon(ng-click="player.pause()",ng-show="player.playing")
            li.right
                i.control.forward.icon(ng-click="player.next()")

    script(type="text/ng-template", id="editModal.html")
        .modal-header
            h1 Edit album
        .modal-body
            label Thumbnail url path
            input(type="text",name="thumbnail",ng-model="edit.thumbnail",required,ng-value="current.cover")
            label Artist
            input(type="text",name="artist",ng-model="edit.artist",required,ng-value="current.artist")
            label Album title
            input(type="text",name="title",ng-model="edit.title",required,ng-value="current.album")
        .modal-footer
            input.btn(type="submit",value="submit", ng-click="editItem()",required)
            button.btn(ng-click="cancel()") Cancel