doctype 5
html(lang="en")
	head		
		title #{lingua.music}
		
		// Core inclusion
		link(rel='stylesheet', href='/core/css/style.css')
		link(rel='stylesheet', href='/core/css/jquery-ui-1.10.3.custom.min.css')
		link(rel='stylesheet', href='/themes/'+selectedTheme)
		
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/jquery-ui-1.10.3.min.js")
		
		script(src="/core/js/plugins/jquery.idle-timer.js")
		script(src="/core/js/plugins/jquery.i18n.properties.-1.0.9.js")
		script(src="/core/js/jquery.mcjs.core.js")
		
		link(href="http://vjs.zencdn.net/4.0/video-js.css", rel="stylesheet")
		script(src="http://vjs.zencdn.net/4.0/video.js")
		style(type="text/css")
			.vjs-play-progress, .vjs-volume-level { background-color: #d96800!important; }
			.vjs-control-bar, .vjs-big-play-button { background: rgba(171,171,171,0.7)!important; }
			.vjs-slider { background: rgba(171,171,171,0.2333333333333333)!important; }
			.vjs-fade-out { opacity: 1 !important; visibility: visible !important; }
			.vjs-fullscreen-control{visibility:hidden!important;}
			
		script(src="/music/js/plugins/color-thief.js")
		script(src="/music/js/plugins/quantize.js")
		script(src="/music/js/plugins/jquery.css3finalize.min.js")

		// App specific
		link(rel='stylesheet', href='/music/css/style.css')
		script(src="/music/js/jquery.mcjs.music.js")
		
		script
			$(document).ready(function(){
				$('body').mcjs();
				$('body').mcjsm();
			});
	body
		#header
			a.backlink(href="/") 
				img(src="/core/icons/back.png")
			h1 #{lingua.music}
		#wrapper
			#musicWrapper
				if status !== null
					p.gui= status
				else
					ul.music
						each album in music
							li.boxed
								img(src="").cover
								.overlay
								a.title= album						
		#eq						
		video#player.video-js.vjs-default-skin(controls, preload="metadata", width="100%", height="33", data-setup="{}") %
			source(src="",type="audio/mp3")