
/***** -----------------   General CSS  ---------------------- *****/


/* Typography */

html{ background-color:#f6f6f6; }
body{ font-family: 'Open Sans', sans-serif; color: #747474; }
a{ color:#444;}
a:hover{color:#333;}

h1,
h2,
h3,
h4,
h5,
h6{ font-family: 'Open Sans Condensed', sans-serif; letter-spacing:2px; text-transform:uppercase; }

h1{ font-size:36px; }
h2{ font-size:30px; }
h3 {
	margin:0;
	margin-top:-20px;
	padding:0;
	font-weight:normal;
	font-size:24px; 
}
h3 a{
	font-size:24px; 
	text-decoration:none;
	margin:0;
	padding:0;
}

ul,
li{list-style:none; margin:0; padding:0;}

p{ font-size:20px; margin:40px 0;}
p a{color:#444; text-decoration:none; font-size:20px;}
p a:hover{text-decoration:none;}

/* Homepage Tiles */

.tile{
	width:160px;
	height:169px;
	float:left;
	margin:2px 10px 10px 2px;
	list-style:none;
	display:none;
}

.tile .info{
	font-size:14px;
	float:left;
	width:100%;
}

.tile h2{ font-size:13px; font-family:arial; }
.tile a{ float:left; padding:0 10px 3px 0; display:block; }

/* Date and Time */

#dateandtime .date,
#dateandtime .time{	text-align:right; font-size:27px; font-family: 'Open Sans Condensed', sans-serif;}

/* Content */

.boxed{
	background:#fff;
	border-radius:2px;
	padding:0;
	position:relative;
}

#header{
	height:75px;
	width:90%;
	padding:10px 200px 15px 100px;
	position:relative;
	float:left;
	background:#fff;
	overflow:hidden;
	-webkit-animation: glide-in 0.5s; 
	-moz-animation: glide-in 0.5s; 
    -o-animation: glide-in 0.5s; 
    animation: glide-in 0.5s; 
	background:#fff;
	-moz-box-shadow: 0 0px 5px #888;
	-webkit-box-shadow: 0 0px 5px #888;
	box-shadow: 0 0px 5px #888;
}

a.backlink{ 
	display:block; 
	float:left; 
	margin-top:13px; 
	margin-right:30px;
	width: 32px;
	height:32px;
}


#header .logo{ float:left; height:45px; margin: 17px 10px 0 0px; }

#header h1{
	width:800px;
	margin:0;
	padding:0;
	margin:14px 0 0 60px;
}

#content{
	width:800px;
	margin:0;
	padding:0;
	margin-left:60px;
}

.settingslink a{
	background:url(/core/icons/settings.png) no-repeat;
	padding-left:50px;
	height:50px;
	display:block;
	line-height:32px;
	font-family:sans-serif;
}

/* Form elements */

label,
.label{ font-size:16px; font-family: 'Open Sans', sans-serif; }

input[type=submit],
a.btn{
	background-color:#fb8521;
	padding:10px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	text-align:center;
	font-size:18px;
	border:0;
	border-radius:5px;
}

em.error{ display: block !important; float:left; margin:5px 0 0 5px; color: red; font-style: normal; font-size: 13px;}

input,
select{ display:block; width:200px; padding:5px 10px; -webkit-appearance: none;}
select{ width: 223px; }

/* Player */

#player{
	position:absolute;
	bottom:0;
	left:0;
}





/***** -----------------   ANIMATIONS  ---------------------- *****/




.glinein{
	-webkit-animation: glide-in 0.8s; 
	-moz-animation: glide-in 0.8s; 
    -o-animation: glide-in 0.8s; 
    animation: glide-in 0.8s; 
}

.fadein{
	-webkit-animation: fade-in 2s; 
	-moz-animation:  fade-in 2s; 
    -o-animation: fade-in 2s; 
    animation: fade-in 2s; 
}

.fadeinslow{
	-webkit-animation: fade-in 3s; 
	-moz-animation:  fade-in 3s; 
    -o-animation: fade-in 3s; 
    animation: fade-in 3s; 
}

.fadeout{
	-webkit-animation: fade-out 3s; 
	-moz-animation:  fade-out 3s; 
    -o-animation: fade-out 3s; 
    animation: fade-out 3s; 
}

.flipin{ 
	-webkit-animation: flip-in 2s; 
	-moz-animation: flip-in 2s; 
    -o-animation: flip-in 2s; 
    animation: flip-in 2s; 
}


@-webkit-keyframes flip-in {
	0%  { 
		opacity: 0.0; 
		-webkit-transform: perspective(600px) rotateY(50deg);
		-moz-transform: perspective(600px) rotateY(50deg);
		-ms-transform: perspective(600px) rotateY(50deg);
		transform: perspective(600px) rotateY(50deg);
		-webkit-transform-origin: 100% 20%;
		-moz-transform-origin: 100% 20%;
		-ms-transform-origin: 100% 20%;
		transform-origin: 100% 20%;
	}
	100% { 
		opacity: 1.0; 
		-webkit-transform: perspective(0px) rotateY(0deg);
		-moz-transform: perspective(0px) rotateY(0deg);
		-ms-transform: perspective(0px) rotateY(0deg);
		transform: perspective(0px) rotateY(0deg);
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
}
@-moz-keyframes flip-in {
	0%  { 
		opacity: 0.0; 
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transform: perspective(600px) rotateY(50deg);
		-moz-transform: perspective(600px) rotateY(50deg);
		-ms-transform: perspective(600px) rotateY(50deg);
		transform: perspective(600px) rotateY(50deg);
		-webkit-transform-origin: 100% 20%;
		-moz-transform-origin: 100% 20%;
		-ms-transform-origin: 100% 20%;
		transform-origin: 100% 20%;
	}
	100% { 
		opacity: 1.0; 
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transform: perspective(0px) rotateY(0deg);
		-moz-transform: perspective(0px) rotateY(0deg);
		-ms-transform: perspective(0px) rotateY(0deg);
		transform: perspective(0px) rotateY(0deg);
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
}
@-o-keyframes flip-in {
	0%  { 
		opacity: 0.0; 
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transform: perspective(600px) rotateY(50deg);
		-moz-transform: perspective(600px) rotateY(50deg);
		-ms-transform: perspective(600px) rotateY(50deg);
		transform: perspective(600px) rotateY(50deg);
		-webkit-transform-origin: 100% 20%;
		-moz-transform-origin: 100% 20%;
		-ms-transform-origin: 100% 20%;
		transform-origin: 100% 20%;
	}
	100% { 
		opacity: 1.0; 
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transform: perspective(0px) rotateY(0deg);
		-moz-transform: perspective(0px) rotateY(0deg);
		-ms-transform: perspective(0px) rotateY(0deg);
		transform: perspective(0px) rotateY(0deg);
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
}
@keyframes flip-in {
	0%  { 
		opacity: 0.0; 
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transform: perspective(600px) rotateY(50deg);
		-moz-transform: perspective(600px) rotateY(50deg);
		-ms-transform: perspective(600px) rotateY(50deg);
		transform: perspective(600px) rotateY(50deg);
		-webkit-transform-origin: 100% 20%;
		-moz-transform-origin: 100% 20%;
		-ms-transform-origin: 100% 20%;
		transform-origin: 100% 20%;
	}
	100% { 
		opacity: 1.0; 
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transform: perspective(0px) rotateY(0deg);
		-moz-transform: perspective(0px) rotateY(0deg);
		-ms-transform: perspective(0px) rotateY(0deg);
		transform: perspective(0px) rotateY(0deg);
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
}



@-webkit-keyframes fade-in {
	0%  { opacity: 0.0; -webkit-transform: translate3d(0, 0, 0);}
	100% { opacity: 1.0; -webkit-transform: translate3d(0, 0, 0);}
}
@-moz-keyframes fade-in {
	0%  { opacity: 0.0;  -webkit-transform: translate3d(0, 0, 0);}
	100% { opacity: 1.0;  -webkit-transform: translate3d(0, 0, 0);}
}
@-o-keyframes fade-in {
	0%  { opacity: 0.0;  -webkit-transform: translate3d(0, 0, 0);}
	100% { opacity: 1.0;  -webkit-transform: translate3d(0, 0, 0);}
}
@keyframes fade-in {
	0%  { opacity: 0.0;  -webkit-transform: translate3d(0, 0, 0);}
	100% { opacity: 1.0;  -webkit-transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes glide-in {
	0%{margin-left:-30px; opacity: 0.0; -webkit-transform: translate3d(0, 0, 0);} 
	100%{margin-left:0; opacity: 1.0; -webkit-transform: translate3d(0, 0, 0);}
}	
@-moz-keyframes glide-in {
	0%{margin-left:-30px; opacity: 0.0; -webkit-transform: translate3d(0, 0, 0);} 
	100%{margin-left:0; opacity: 1.0; -webkit-transform: translate3d(0, 0, 0);}
}
@-o-keyframes glide-in {
	0%{margin-left:-30px; opacity: 0.0; -webkit-transform: translate3d(0, 0, 0);} 
	100%{margin-left:0; opacity: 1.0; -webkit-transform: translate3d(0, 0, 0);}
}
@keyframes glide-in {
	0%{margin-left:-30px; opacity: 0.0; -webkit-transform: translate3d(0, 0, 0);} 
	100%{margin-left:0; opacity: 1.0; -webkit-transform: translate3d(0, 0, 0);}
}


@-webkit-keyframes fade-out {
	0%  { opacity: 1.0; -webkit-transform: translate3d(0, 0, 0); }
	100% { opacity: 0.0; -webkit-transform: translate3d(0, 0, 0); }
}
@-moz-keyframes fade-out {
	0%  { opacity: 1.0; -webkit-transform: translate3d(0, 0, 0); }
	100% { opacity: 0.0; -webkit-transform: translate3d(0, 0, 0); }
}
@-o-keyframes fade-out {
	0%  { opacity: 1.0; -webkit-transform: translate3d(0, 0, 0); }
	100% { opacity: 0.0; -webkit-transform: translate3d(0, 0, 0); }
}
@keyframes fade-out {
	0%  { opacity: 1.0; -webkit-transform: translate3d(0, 0, 0); }
	100% { opacity: 0.0; -webkit-transform: translate3d(0, 0, 0); }
}



