/* Default override */

body,html{overflow:hidden; position:relative; color:#333;}

/* Weather app */
#header{
	background:#323A45;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
#header h1{margin-top:5px;}
#header *{color:#F1F5FE;}

.degrees{ font-size:48px; margin-top: 7px;}
.degrees.getsucces{	
	-webkit-animation: glide-in 0.8s; 
	-moz-animation: glide-in 0.8s; 
    -o-animation: glide-in 0.8s; 
    animation: glide-in 0.8s; 
}

.degrees sup{ font-size:24px; }

.current { 
	float: right;
	width: 350px;
}

.current h2 {
	font-size: 21px;
	margin-left: -10px;
	margin-bottom: -5px;
}

.location {
	font-size:48px; 
	float:left; 
	min-width:600px; 
	height:50px;
}

.weathertype {
	font-size:26px;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 58px;
}

.feelslike {font-size:16px; padding:2px 0;}

.infoPanel {
	position: absolute;
	background:#ecf0f1;
	opacity: 0.8;
	width: 100%;
	bottom: 0;
	height: 200px;
	padding-top: 5px;
}

.forecast { 
	list-style: none;
	float: left;
	padding-top: 15px;
}

.forecast * {  
	color:#454545;
}

.forecast li { 
	line-height:25px;
	margin-left: 15px;
	width: 150px;
	height: 180px;
	text-align: center;
	display: inline-block;
}

.forecast li div.weekday { font-size: 20px; font-weight: bold; line-height: 40px; } 
.forecast li div.conditions {width: 55px; height: 60px; margin: 0px auto;}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
	.forecast { 
		font-size:12px;
	}
	
	.forecast li { 
		margin-left: -5px !important;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
	.forecast { 
		font-size:12px;
	}
	
	.forecast li { 
		margin-left: -5px !important;
	}
}
