/* Default override */

body,html{overflow:hidden; position:relative;}

/* Weather app */
#header{
	background:#323A45;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
#header *{color:#F1F5FE;}

.degrees{ font-size:48px; }
.degrees.getsucces{	
	-webkit-animation: glide-in 0.8s; 
	-moz-animation: glide-in 0.8s; 
    -o-animation: glide-in 0.8s; 
    animation: glide-in 0.8s; 
}

.degrees sup{ font-size:24px; }

.current { 
	position: absolute;
	bottom: 55px;
	right: -40px;
	height: 190px;
	width: 300px;
	padding: 20px;
	z-index:6;
}
.location {
	font-size:48px; 
	float:left; 
	min-width:600px; 
	height:50px;
}
.weathertype {font-size:26px;}
.feelslike {font-size:16px; padding:2px 0;}

.forecast{ 
	position: absolute;
	width: 100%;
	height: 180px;
	left: 0px;
	bottom: 0px;
	padding-top: 5px;
	padding-left: 60px;
	background:#ecf0f1;
}

.forecast *{  
	color:#454545;
}

.forecast ul{ 
	list-style: none;
	float: left;
	width: 150px;
	height: 180px;
	margin-left: 10px;
	position: relative;
	overflow: hidden;
}

.forecast ul li{ line-height:25px;}
.forecast ul li.weekday{ font-size: 20px; font-weight: bold; line-height: 40px; } 
.forecast .conditions{width: 60px; height: 60px; margin-left: 22px;}

.forecast ul li.weekday{margin-left: 10px;}

.forecast .mintemp,
.forecast .maxtemp{margin-left: 22px;}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
	.forecast ul{ 
		list-style:none;
		float:left;
		width: 100px;
		height: 110px;
		font-size:12px;
	}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
	.forecast ul{ 
		list-style:none;
		float:left;
		width: 100px;
		height: 110px;
		font-size:12px;
	}
}
