#oauth {
	margin:0 0 20px;
	float:left;
}

label[for="oauthKey"] {
	color: red;
	font-size: 12px;
	width: 100%;
	margin-top: 17px;
}

a.cachelink,
a.scraperlink,
#oauth{
    margin: 5px auto;
    display: block;
    float:none;
    width: 240px;
}

#settings h2 {
	width: 98%; 
	padding-bottom: .2rem;
	border-bottom: 1px solid rgba(0,0,0,.1);
	clear:both;
	height:50px;
	font-size:30px;
	text-transform:none;
	margin:20px 10px;
	line-height: 43px;
}

.message{
	text-transform: capitalize;
}

#oauthContainer,
.cache-management,
.access-table,
.configurable-options{
    overflow:hidden; 
    position: relative; 
    padding:20px;
    margin-bottom:10px;
}

.cache-management,
#oauthContainer{background:#43464F;}

.configurable-options{background:#f5f5f5; }
#oauthContainer{background:#43464F;}

.cache-management .btn{box-shadow: inset 0px 1px 0px #fb8521, 0px 4px 0px 0px #c96311, 0px 7px 5px #333; }

.cache-management h2,
#oauthContainer h2,
#oauthContainer .info{color:#f5f5f5;}

.cache-management .row{padding-left:40px;}
#oauthContainer .btn.btn-alternative{box-shadow: inset 0px 1px 0px #2ab7ec, 0px 4px 0px 0px #074057, 0px 7px 5px #333;}

#setup{ 
	width:100%; 
	height:100%; 
	position: relative;
	margin:0;
	padding: 1em;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
}
#setup input[type=submit]{display:block; padding:10px 30px; margin-left:279px; width: 385px;}

#setup input[type=text], 
#setup input[type=password], 
#setup select, 
#setup textarea { background:#fff;}

i.icon{
    position:absolute;
    color: #333;
    font-size:18px;
    left: 30px;
    top: 23px;
}

input.form-control[type="text"],
select.form-control{padding-left: 50px;}

.access-table { background:#f5f5f5; padding:20px;} 


@media only screen and (min-width: 320px) and (max-width: 760px) {
    /* For phone layouts only */

    i.icon {
        top:70px;
    }


}
