#oauth {
    margin:0 0 20px;
    float:left;
}

label[for="oauthKey"] {
    color: red;
    font-size: 12px;
    width: 100%;
    margin-top: 17px;
}

label {
    font-weight: 500;
}

.cache-management a.btn,
a.scraperlink,
#oauth{
    margin: 5px 30px;
    display: block;
    float:none;
    text-overflow: ellipsis;
    text-align: left;
}

#settings h2 {
    width: 98%;
    padding-bottom: .2rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
    clear:both;
    font-size:30px;
    text-transform:none;
    margin:20px 10px;
    line-height: 43px;
}

.message{
    text-transform: capitalize;
}

#oauthContainer,
.cache-management,
.access-table,
.configurable-options{
    overflow:hidden;
    position: relative;
    padding:20px;
    margin-bottom:10px;
}

.cache-management h2,
#oauthContainer h2,
#oauthContainer .info{color:#f5f5f5;}

.cache-management .row{padding-left:40px;}

#setup{
    width:100%;
    height:100%;
    position: relative;
    margin:0;
    padding: 1em;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    overflow:hidden;
}
#setup input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    width: 100%;
    max-width: 400px;
}

#setup input[type=text],
#setup input[type=password],
#setup select,
#setup textarea { background:#dedede; max-width: 80%;}


.table>tbody>tr:nth-child(odd){
    background: #33363a;
}


@media (max-width: 600px) {
    .container-fluid{
        padding:0;
    }

    #setup{padding:0;}

    #setup .cache-management{height:100%!important;}

    .table th{display:none;}
    .table>tbody>tr>td {
        border: 0;
        display: block;
        width:320px;
        padding:10px!important;
    }


    .table .btn{
        margin-bottom:20px;
    }

}
