doctype 5
html(lang="en")
	head
		// Core inclusion
		link(rel='stylesheet', href='/core/css/style.css')
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/plugins/jquery.idle-timer.js")		
		script(src="/core/js/jquery.mcjs.core.js")

		title Spotify
		
		link(rel='stylesheet', href='/spotify/css/style.css')
		script(src="/spotify/js/jquery.spotify.js")
		
		script.
			$(function(){
				$('body').mcjs();
				$('body').spotify();
			});
	body
		#header
			a.backlink(href="/") 
				img(src="/core/icons/back.png")
			h1 Spotify
		#wrapper
			form#searchWrapper(method="post") 
				h1 Find tracks
				input.search(type="text")
				input.btn(type="submit",value="Search")
			ul#results